#header {
  display: flex;
  justify-content: space-between;
  background-color: #f2f5ff;
}

#header .divider {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#header img {
  height: 40px;
}

#header .wiki {
  font-weight: 300;
  margin-left: 5px;
}

#header .item {
  background-color: #2aa4d550;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  text-decoration: none;
  transition: background-color 300ms;
}

#header .item:hover {
  background-color: #2aa4d575;
}

#header .item.active {
  background-color: #2aa4d5;
}

#header .item:nth-child(1) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#header .item:nth-last-child(1) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media (max-width: 700px) {
  #header {
    flex-direction: column;
  }
  #header .divider:nth-child(1) {
    margin-bottom: 10px;
  }
}
