#list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #2aa4d530;
  overflow: hidden;
  width: 220px;
  height: 300px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: background-color 300ms;
}

.card:hover {
  background-color: #2aa4d550;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card .imageContainer {
  height: 70%;
}

.card .nameContainer {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card .name {
  text-align: center;
  font-weight: bold;
}

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: #00000099;
  transition: all 300ms;
}

#backdrop.hidden {
  display: none;
}

#modal {
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  padding: 30px;
}

#modal .header {
  display: flex;
  margin-bottom: 30px;
}

#modal .header img {
  height: 200px;
  border-radius: 10px;
}

#modal .header .nameWrapper {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

#modal .header #name {
  font-weight: bold;
  color: #2aa4d5;
  font-size: 19px;
}

#modal .property {
  display: flex;
  margin-bottom: 12px;
}

#modal .property .label {
  width: 100px;
  min-width: 100px;
  font-weight: bold;
  color: #2aa4d5;
}